{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="chart-container">
    <div class="chart">
        <h2>Weekly Data</h2>
        <canvas id="pieChart"></canvas>
    </div>
    <div class="chart">
        <h2>Today's Data</h2>
        <canvas id="pieChartToday"></canvas>
    </div>
</div>
<div class="line-chart-container">
    <h2>Data Distribution</h2>
    <canvas id="lineChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    fetch('/get_data')
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('pieChart').getContext('2d');
            new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: Object.keys(data),
                    datasets: [{
                        data: Object.values(data),
                        backgroundColor: ['#36A2EB', '#FF6384', '#FFCE56']
                    }]
                }
            });
        });

    fetch('/get_data_today')
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('pieChartToday').getContext('2d');
            new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: Object.keys(data),
                    datasets: [{
                        data: Object.values(data),
                        backgroundColor: ['#36A2EB', '#FF6384', '#FFCE56']
                    }]
                }
            });
        });

    fetch('/get_weekly_data')
        .then(response => response.json())
        .then(data => {
            const labels = data.map(item => item.date);
            const focusedData = data.map(item => item.focused);
            const notFocusedData = data.map(item => item.not_focused);
            const ctx = document.getElementById('lineChart').getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Focused',
                        data: focusedData,
                        borderColor: '#36A2EB',
                        fill: false
                    }, {
                        label: 'Not Focused',
                        data: notFocusedData,
                        borderColor: '#FF6384',
                        fill: false
                    }]
                }
            });
        });
</script>
{% endblock %}
