{% extends 'base.html' %}
{% block content %}
<div class="team-details-page">
    <div class="container team-content">
        <h1 style="color: #0056b3">OUR TEAM</h1>
        <div class="row">
            <div class="col-md-4">
                <h3>Prithvika Babu</h3>
                <p>Role: Lead Developer</p>
                <p>Email: prithvika@uwindsor.ca</p>
            </div>
            <div class="col-md-4">
                <h3>Nishanth</h3>
                <p>Role: Associate Lead Developer</p>
                <p>Email: nishanth@uwindsor.ca</p>
            </div>
            <div class="col-md-4">
                <h3>Bhuvaneshvar Narayan Jayashree Harikumar</h3>
                <p>Role: Developer</p>
                <p>Email: naraya62@uwindsor.ca</p>
            </div>
            <div class="col-md-4">
                <h3>Jahnavi Mandadi</h3>
                <p>Role: Developer</p>
                <p>Email: mandadij@uwindsor.ca</p>
            </div>
            <div class="col-md-4">
                <h3>Aamani Salehundam</h3>
                <p>Role: Developer</p>
                <p>Email: salehun@uwindsor.ca</p>
            </div>
            <div class="col-md-4">
                <h3>Rehaan Sajjad Arai</h3>
                <p>Role: Developer</p>
                <p>Email: rehaan@uwindsor.ca</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}